@import "tailwindcss";



.main-header {
  background-image: url('../../public/bg.png');
  background-size: cover;         /* Ensures the image covers the entire div */
  background-position: center;    /* Centers the image */
  background-repeat: no-repeat;   /* Prevents tiling */
  background-attachment: scroll;  /* Optional: scrolls with content */
  height: 700px;
  width: 100%;
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.animate-fly-1 {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
