@import "tailwindcss";



.main-header {
  background-image: url('../../public/bg.png');
  background-size: cover;         /* Ensures the image covers the entire div */
  background-position: center;    /* Centers the image */
  background-repeat: no-repeat;   /* Prevents tiling */
  background-attachment: scroll;  /* Optional: scrolls with content */
  height: 700px;
  width: 100%;
}


